# base
jupyter==1.0.0
numpy==1.18.2
pandas==0.25.3
# pandas-profiling 2.5.0 has requirement requests==2.22.0
# pandas-profiling 2.5.0 has requirement pandas==0.25.3
# pandas-profiling 2.5.0 has requirement tqdm==4.42.0
pandas-profiling==2.5.0
scipy==1.4.1

# plotting
matplotlib==3.2.1
seaborn==0.10.0
bokeh==2.0.1
pdpbox==0.2.0

# ML
scikit-learn==0.22.2.post1
lightgbm==2.3.1
xgboost==1.0.2
eli5==0.10.1
shap==0.35.0
mlflow==1.7.2

# NN
tensorflow-datasets==2.1.0
livelossplot==0.5.0
pydot==1.4.1
h5py==2.10.0

# NLP
nltk==3.4.5
spacy==2.2.4

# CV
opencv-python==4.2.0.32
pillow==7.1.1

# other
Cython==0.29.16
dateparser==0.7.4
feather-format==0.4.0
kaggle==1.5.6  # kaggle 1.5.6 has requirement urllib3<1.25
tqdm==4.42.0
openpyxl==3.0.3

pytest==5.4.1
requests==2.22.0
rope==0.16.0
xlrd==1.2.0
urllib3==1.24.3
# # https://github.com/PyCQA/pylint/issues/3139
pylint<2.4 
astroid<2.3
