# base
jupyter==1.0.0
numpy==1.20.2
pandas==1.2.4
pandas-profiling==2.11.0
scipy==1.6.2

# plotting
matplotlib==3.4.1
seaborn==0.11.1
bokeh==2.3.1

# ML
scikit-learn==0.24.1
lightgbm==3.2.1
xgboost==1.4.0
eli5==0.11.0
shap==0.39.0
mlflow==1.15.0

# NN
pydot==1.4.2
pytorch-lightning==1.2.8

# NLP
nltk==3.6.1
spacy==3.0.5
transformers==4.5.1

# CV
imgaug==0.4.0
opencv-python==4.5.1.48
pillow==8.2.0

# other
Cython==0.29.23
dateparser==1.0.0
feather-format==0.4.1
h5py==3.2.1
kaggle==1.5.12
openpyxl==3.0.7
tqdm==4.60.0

black
pylint
pytest
requests
rope
xlrd  # for pandas and Excel
xlwt
urllib3
